@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$pink: magenta;

$primary: $pink;
$size-1: 10rem;

@import '../node_modules/bulma/bulma';